<html>


<body>
top page
<%= link_to "ログイン", recruitments_path %>
<%= link_to "新規登録", new_user_registration_path %>

<%= image_tag 'blue.jpg' , :width => '40', :height => '10'%>
<img src="/assets/taxi.jpg" alt="">
</body>
</html>
