<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Strategic Planning, We are committed expert partners, Benefits of working with us​, 01, 02, 03, 04, 05, 06, About Us, Simple, Transparent Pricing, It's Free!, INTUITIVE">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Home</title>
    <%# <link rel="stylesheet" href="nicepage.scss" media="screen"> %>
<%# <link rel="stylesheet" href="Home.scss" media="screen"> %>
    <%# <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script> %>
    <%# <script class="u-script" type="text/javascript" src="nicepage.js" defer=""></script> %>
    <meta name="generator" content="Nicepage 3.19.4, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i|Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"logo": "images/default-logo.png"
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Home">
    <meta property="og:type" content="website">
  </head>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Share Taxi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
          <%= link_to("JOIN", recruitments_path, {class: "nav-link"}) %>
        </li>
        <li class="nav-item">
          <%= link_to("新規登録", new_user_registration_path, {class: "nav-link"}) %>
        </li>
      </ul>
    </div>
  </div>
</nav>
<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner " style="background-image: image-url('hospital.jpg') ">
      <!-- Slide two - Set the background image for this slide in the line below -->
      <%# <div class="carousel-item" >
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4">大学病院</h3>
          <p class="lead">目的地周辺</p>
        </div>
      </div> %>
      <!-- Slide one - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: image-url('oita_sta.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4">大分駅</h3>
          <p class="lead">出発地周辺</p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('hospital.jpg)">
        <div class="carousel-caption d-none d-md-block">
          <h3 class="display-4">大学病院</h3>
          <p class="lead">目的地周辺</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
</header>
<br><br>



  <body data-home-page="Home.html" data-home-page-title="Home" class="u-body" ontouchstart=””>
  <%# <div class="u-clearfix u-sheet u-sheet-1"><header class="u-clearfix %>
        <%# <a href="https://nicepage.com" class="u-image u-logo u-image-1">
          <img src="images/default-logo.png" class="u-logo-image u-logo-image-1">
        </a>
        <a class="u-hidden-xs u-login u-login-1">Login</a>
      <%# </div>%>
      </header> 
    <section class="u-align-center u-clearfix u-section-1" id="carousel_6fbe">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-sheet-1">
        <div class="u-clearfix u-expanded-width u-gutter-12 u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-col">
              <div class="u-size-40">
                <div class="u-layout-row">
                  <div class="u-size-40">
                    <div class="u-layout-col">
                      <div class="u-align-left u-container-style u-layout-cell  u-palette-5-light-2 u-radius-20 u-size-60 u-layout-cell-1 layout1 showhey">
                        <div>
                          <h3 class="u-custom-font u-font-pt-sans u-text u-text-palette-5-base u-text-1"><br>こんな経験<br> ありませんか？
                          </h3>
                          <p class="u-text u-text-palette-5-dark-1 u-text-2">
                            <span style="font-size: 1.125rem;">飲み会の後、終バスに乗れず、<br>タクシーで帰ろうと思っても<br> "3300円かかる”<br>
                              <br>今から人を呼ぶのは気が引ける。<br>でも今日中に家に帰っておきたい。
                            </span>
                          <img class="u-image u-image-contain u-image-default u-image-1" src="/assets/taxi.jpg" alt="" data-image-width="1750" data-image-height="985">                          
                          </p>                          
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="u-size-20">
                    <div class="u-layout-col">
                      <div class="u-align-center u-container-style u-layout-cell  u-palette-4-light-2 u-radius-20 u-size-60 u-layout-cell-2 layout2 showhey">
                        <div class="u-container-layout u-valign-top u-container-layout-2"><span class="u-icon u-icon-circle u-text-palette-4-base u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-b25b"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" id="svg-b25b" style="enable-background:new 0 0 512 512;"><g><g><path d="M356.324,0v76.108c0,19.075,15.519,34.594,34.594,34.594h76.108L356.324,0z"></path>
</g>
</g><g><g><path d="M390.918,145.298c-38.054,0-69.189-31.135-69.189-69.189V0H44.973v442.811c0,38.054,31.135,69.189,69.189,69.189h283.675    c38.054,0,69.189-31.135,69.189-69.189V145.298H390.918z M203.125,375.884l-25.718,23.143l-72.684-80.758l72.69-80.758    l25.718,23.137l-51.864,57.621L203.125,375.884z M248.265,399.623l-32.969-10.489l48.432-152.217l32.969,10.489L248.265,399.623z     M334.584,399.028l-25.718-23.143l51.857-57.613l-51.85-57.613l25.718-23.151l72.683,80.758L334.584,399.028z"></path>
</g>
</g></svg></span>
                          <h3 class="u-custom-font u-font-pt-sans u-text u-text-palette-4-base u-text-3">01 ”ENTRY”</h3>
                          <p class="u-text u-text-palette-4-dark-1 u-text-4">大学専用のメールを使って、<br>新規登録
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-20">
                <div class="u-layout-row">
                  <div class="u-align-center u-container-style u-layout-cell  u-palette-2-light-2 u-radius-20 u-shape-round u-size-20 u-layout-cell-3 layout3 showhey">
                    <div class="u-container-layout u-container-layout-3"><span class="u-icon u-icon-circle u-text-palette-2-light-1 u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 512 512" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-d42c"></use></svg><svg class="u-svg-content" viewBox="0 0 512 512" id="svg-d42c"><g><path d="m439.54 68.7h-367.08c-39.95 0-72.46 32.51-72.46 72.47v229.66c0 39.96 32.51 72.47 72.46 72.47h367.08c39.95 0 72.46-32.51 72.46-72.47v-229.66c0-39.96-32.51-72.47-72.46-72.47zm-253.73 115.29-76.23 76.23 67.79 67.79c5.86 5.86 5.86 15.36 0 21.21-5.85 5.86-15.35 5.86-21.21 0l-78.4-78.4c-5.86-5.86-5.86-15.35 0-21.21l86.83-86.83c5.86-5.86 15.36-5.86 21.22 0 5.85 5.85 5.85 15.35 0 21.21zm123.73-35.29-79.32 224.59c-2.76 7.82-11.33 11.91-19.14 9.15s-11.91-11.33-9.15-19.14l79.32-224.59c2.76-7.81 11.32-11.91 19.14-9.15 7.81 2.76 11.91 11.33 9.15 19.14zm124.7 113.69-86.83 86.83c-5.86 5.86-15.36 5.86-21.22 0-5.85-5.85-5.85-15.35 0-21.21l76.23-76.23-67.79-67.79c-5.86-5.86-5.86-15.36 0-21.21 5.85-5.86 15.35-5.86 21.21 0l78.4 78.4c5.86 5.86 5.86 15.35 0 21.21z"></path>
</g></svg></span>
                      <h3 class="u-custom-font u-font-pt-sans u-text u-text-palette-2-base u-text-5">02 "JOIN”</h3>
                      <p class="u-text u-text-palette-2-dark-1 u-text-6">時間を指定して募集<br>（大分駅→挾間）
                      </p>
                      <p class="u-text u-text-7">
                        <span style="font-size: 1.25rem;">
                          <span style="font-weight: 700;">
                            <span class="u-text-palette-2-dark-1">
                              <span style="font-size: 1.5rem;"> or</span>
                            </span>
                          </span>
                        </span>
                        <br>
                      </p>
                      <p class="u-text u-text-palette-2-dark-1 u-text-8">募集に参加</p>
                    </div>
                  </div>
                  <div class="u-align-center u-container-style u-layout-cell  u-palette-3-light-2 u-radius-20 u-size-20 u-layout-cell-4 layout4 showhey">
                    <div class="u-container-layout u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-container-layout-4"><span class="u-icon u-icon-circle u-palette-3-base u-spacing-10 u-icon-3"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 60 60" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-b1a6"></use></svg><svg class="u-svg-content" viewBox="0 0 60 60" x="0px" y="0px" id="svg-b1a6" style="enable-background:new 0 0 60 60;"><path d="M30,1.5c-16.542,0-30,12.112-30,27c0,5.204,1.646,10.245,4.768,14.604c-0.591,6.537-2.175,11.39-4.475,13.689  c-0.304,0.304-0.38,0.769-0.188,1.153C0.275,58.289,0.625,58.5,1,58.5c0.046,0,0.092-0.003,0.139-0.01  c0.405-0.057,9.813-1.411,16.618-5.339C21.621,54.71,25.737,55.5,30,55.5c16.542,0,30-12.112,30-27S46.542,1.5,30,1.5z M16,32.5  c-2.206,0-4-1.794-4-4s1.794-4,4-4s4,1.794,4,4S18.206,32.5,16,32.5z M30,32.5c-2.206,0-4-1.794-4-4s1.794-4,4-4s4,1.794,4,4  S32.206,32.5,30,32.5z M44,32.5c-2.206,0-4-1.794-4-4s1.794-4,4-4s4,1.794,4,4S46.206,32.5,44,32.5z"></path></svg></span>
                      <h3 class="u-custom-font u-font-pt-sans u-text u-text-palette-3-base u-text-9">03 "CHAT”</h3>
                      <p class="u-text u-text-palette-3-dark-1 u-text-10">あいさつ<br>
                        <br>お互いの服装を<br>伝える
                      </p>
                    </div>
                  </div>
                  <div class="u-align-center u-container-style u-layout-cell  u-palette-1-light-2 u-radius-20 u-size-20 u-layout-cell-5 layout5 showhey">
                    <div class="u-container-layout u-valign-top u-container-layout-5"><span class="u-border-2 u-border-palette-1-base u-icon u-icon-circle u-spacing-10 u-text-palette-1-base u-icon-4"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 226.969 226.969" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-c039"></use></svg><svg class="u-svg-content" viewBox="0 0 226.969 226.969" x="0px" y="0px" id="svg-c039" style="enable-background:new 0 0 226.969 226.969;"><g><path d="M217.289,83.307c-1.024,0-2.075,0.146-3.124,0.436l-11.023,3.036L191.49,58.398c-3.491-8.506-13.813-15.427-23.009-15.427   h-7.753V19.442c0-4.136-3.364-7.5-7.5-7.5H73.742c-4.136,0-7.5,3.364-7.5,7.5v23.529h-7.913c-9.195,0-19.518,6.92-23.009,15.426   L23.684,86.739l-10.879-2.997c-1.049-0.289-2.101-0.436-3.124-0.436C4.072,83.307,0,87.593,0,93.497v6.032   c0,6.893,5.608,12.5,12.5,12.5h0.802l-1.664,4.052c-3.244,7.903-5.884,21.283-5.884,29.825v56.621c0,6.893,5.607,12.5,12.5,12.5   h15.027c6.893,0,12.5-5.607,12.5-12.5v-13.916H181.03v13.916c0,6.893,5.608,12.5,12.5,12.5h15.024c6.893,0,12.5-5.607,12.5-12.5   v-56.621c0-8.542-2.64-21.922-5.884-29.825l-1.664-4.052h0.963c6.893,0,12.5-5.607,12.5-12.5v-6.032   C226.969,87.593,222.898,83.307,217.289,83.307z M143.612,21.944c0-0.165,0.135-0.3,0.3-0.3h5.778c0.165,0,0.3,0.135,0.3,0.3   v20.797c0,0.1-0.057,0.175-0.132,0.23h-6.114c-0.075-0.055-0.132-0.13-0.132-0.23V21.944z M102.172,21.644h6.943   c0.165,0,0.35,0.125,0.411,0.279l8.241,20.716l7.554-9.345c0.104-0.128,0.114-0.346,0.023-0.483l-7.25-10.917   c-0.092-0.138-0.031-0.25,0.134-0.25h6.421c0.165,0,0.371,0.115,0.457,0.255l3.737,6.062c0.086,0.141,0.228,0.141,0.314,0   l3.74-6.062c0.086-0.141,0.292-0.255,0.457-0.255h6.424c0.165,0,0.225,0.112,0.134,0.25l-7.256,10.917   c-0.092,0.138-0.081,0.355,0.022,0.483l7.692,9.514c0.052,0.063,0.064,0.122,0.045,0.164h-6.818   c-0.09-0.047-0.171-0.11-0.218-0.185l-4.221-6.755c-0.088-0.14-0.23-0.14-0.318,0l-4.212,6.755   c-0.047,0.075-0.128,0.138-0.218,0.185h-12.847c-0.088-0.052-0.164-0.124-0.193-0.215l-1.416-4.336   c-0.051-0.157-0.228-0.285-0.393-0.285h-7.87c-0.165,0-0.345,0.127-0.399,0.283l-1.526,4.34c-0.032,0.09-0.108,0.162-0.197,0.213   h-6.179c-0.049-0.051-0.07-0.121-0.035-0.208l8.404-20.84C101.822,21.769,102.007,21.644,102.172,21.644z M81.852,42.741v-16.52   c0-0.165-0.135-0.3-0.3-0.3h-6.945c-0.165,0-0.3-0.135-0.3-0.3v-3.678c0-0.165,0.135-0.3,0.3-0.3h20.91c0.165,0,0.3,0.135,0.3,0.3   v3.678c0,0.165-0.135,0.3-0.3,0.3h-6.985c-0.165,0-0.3,0.135-0.3,0.3v16.52c0,0.1-0.057,0.175-0.132,0.23h-6.116   C81.909,42.917,81.852,42.841,81.852,42.741z M32.516,105.062l17.705-43.129c2.089-5.088,8.298-9.251,13.798-9.251h98.772   c5.5,0,11.709,4.163,13.798,9.251l17.705,43.129c2.089,5.088-0.702,9.251-6.202,9.251H38.718   C33.218,114.313,30.427,110.15,32.516,105.062z M72.512,160.604c0,2.75-2.25,5-5,5H33.718c-2.75,0-5-2.25-5-5v-16.032   c0-2.75,2.25-5,5-5h33.794c2.75,0,5,2.25,5,5V160.604z M197.768,160.604c0,2.75-2.25,5-5,5h-33.794c-2.75,0-5-2.25-5-5v-16.032   c0-2.75,2.25-5,5-5h33.794c2.75,0,5,2.25,5,5V160.604z"></path><path d="M108.157,33.858c0.165,0,0.246-0.124,0.181-0.275l-2.492-5.751c-0.066-0.151-0.176-0.153-0.244-0.003l-2.639,5.757   c-0.068,0.15,0.01,0.272,0.175,0.272H108.157z"></path>
</g></svg></span>
                      <h3 class="u-custom-font u-font-pt-sans u-text u-text-palette-1-base u-text-11">04 "SHARE”</h3>
                      <p class="u-text u-text-palette-1-dark-1 u-text-12">タクシーに乗り合わせ<br>募集者が料金を一括支払い<br>同乗者は自分の料金を<br>募集者に支払い
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="place" ontouchstart=””>集合場所</p>
        <iframe src="https://www.google.com/maps/embed?pb=!4v1626360977637!6m8!1m7!1s5MeEPNuoKcZFUhKRip5s_g!2m2!1d33.23215059797503!2d131.6059158103948!3f96.60649659982121!4f-4.48458686624312!5f1.7414758902322443" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </section>
    <section class="u-align-center-lg u-align-center-md u-align-center-xl u-align-left-xs u-align-right-sm u-clearfix u-palette-1-base u-section-2 features showhey" id="carousel_be57">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h1 class="u-align-center-sm u-align-center-xs u-text u-text-1">Features</h1>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-list-item u-palette-1-light-3 u-radius-20 u-repeater-item u-shape-round u-list-item-1 layout01 showhey">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1 ">
                <h2 class="u-custom-font u-font-lato u-text u-text-palette-1-base u-text-2">01</h2>
                <h4 class="u-text u-text-palette-1-base u-text-3">Strong restrictions</h4>
                <p class="u-text u-text-grey-50 u-text-4"> 大分大学の専用メール<br>のみ登録可能！<br> 名前は本名で登録<br>それ以外であると、<br>本人確認できません。
                </p>
              </div>
            </div>
            <div class="u-container-style u-list-item u-palette-1-light-3 u-radius-20 u-repeater-item u-shape-round u-list-item-2 layout01 showhey">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2 layout02 ">
                <h2 class="u-custom-font u-font-lato u-text u-text-palette-1-base u-text-5">02</h2>
                <h4 class="u-text u-text-palette-1-base u-text-6">Forced withdrawal</h4>
                <p class="u-text u-text-grey-50 u-text-7">”あらし”は募集者によって<br>強制退会されます。
                </p>
              </div>
            </div>
            <div class="u-container-style u-list-item u-palette-1-light-3 u-radius-20 u-repeater-item u-shape-round u-list-item-3 layout03 showhey">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3 layout03 showhey">
                <h2 class="u-custom-font u-font-lato u-text u-text-palette-1-base u-text-8">03</h2>
                <h4 class="u-text u-text-palette-1-base u-text-9">Usage rules</h4>
                <p class="u-text u-text-grey-50 u-text-10">・吐き気がある人は乗らない<br>・料金は割り勘<br>
                  <br>
                </p>
              </div>
            </div>
            

            </div>
          </div>
        </div>
      </div>      
    </section>
    
    
  </div>
  </body>
</html>